body {
	margin: 0;
	padding-left: 15%;
	padding-right: 15%;
	font-family: 'Source Code Pro', monospace;
	font-size: 16px; /*comfortly heare*/
}

main {

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-template-areas:
		"title update_geo update_geo ."
		"main_city main_city weather_parametrs weather_parametrs"
		"weather_image temperature weather_parametrs weather_parametrs"
		"favorites . add_city add_city"
		"favorites_cities favorites_cities favorites_cities favorites_cities";
}

h1 {
	color: #C0C0C0;
}

h2 {
	color: #A0A0A0;
	font-size: 40px;
	font-weight: bold;
}

h3 {
	font-size: 30px;
}

ul {
	margin: 0;
	list-style-type: none;
	padding: 0px;
}

li {
	display: flex;
	justify-content: space-between;
	background-color: #A0A0A0;
	color: white;
	font-size: 14px;
}

.main_city_temperature {
	font-weight: bold;
	margin: 0;
	font-size: 80px;
	color: #696969;
}

.update_geo {
	display: flex;
	align-items: baseline;
	justify-content: center;
}

#update_geo_image {
	width: 36px;
	height: 36px;
	display: none;
}

.update_geo_button {
	background-color: #C0C0C0;
	border: none;
	border-radius: 5px;
	font-size: 12px;
	padding: 14px 40px;
	margin-top: 3%;
	width: 75%;
	color: #696969;
}

.weather_parametrs li, .favorite_city_parametrs li {
	padding: 2%;
	margin-bottom: 3%;
}

.parametr {
	font-weight: bold;
	font-size: 15px;
}

.add_city {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.add_city_input {
	background-color: #DCDCDC;
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 75%;
}

.round_button {
	height:50px;
    width:50px;
	margin-left: 15px;
	padding: 0;
	font-size: 24px;
	color: #FFFFFF;
	border: none;
	background-color: #A0A0A0;
	border-radius: 50%;
}

.favorites_cities {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto-fill);
	grid-row-gap: .5em;
	grid-column-gap: 1em;
}

.favorite_city {
	background-color: #FFFFFF;
	color: #505050;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-template-areas:
		"favorite_city_name favorite_city_temperature favorite_city_image favorite_city_close"
		"favorite_city_parametrs favorite_city_parametrs favorite_city_parametrs favorite_city_parametrs";
}


.favorite_city_temperature{
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.favorite_city_image{
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.favorite_city_close {
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/*====================================GRID DEFINE=====================================*/

.title{
	grid-area: title;
}


.update_geo {
	grid-area: update_geo;
}

.main_city{
	grid-area: main_city;
}


.weather_image {
	grid-area: weather_image;
}


.temperature{
	grid-area: temperature;
}


.weather_parametrs {
	grid-area: weather_parametrs;
}

.favorites{
	grid-area: favorites;
}


.add_city {
	grid-area: add_city;
}

.favorites_cities {
	grid-area: favorites_cities;
}


.favorite_city_name{
	grid-area: favorite_city_name;
}


.favorite_city_temperature {
	grid-area: favorite_city_temperature;
}

.favorite_city_image{
	grid-area: favorite_city_image;
}


.favorite_city_close {
	grid-area: favorite_city_close;
}

.favorite_city_parametrs {
	grid-area: favorite_city_parametrs;
}


/*====================================SCREEN SIZES=====================================*/
@media screen and (max-width: 1550px) {
	body {
		font-size: 15px;
	}

	.main_city_temperature {
		font-size: 60px;
	}
}

@media screen and (max-width: 1200px) {
	body {
		font-size: 11px;
	}

	h2 {
		font-size: 30px;
	}
	.main_city_temperature {
		font-size: 55px;
	}
	.add_city_input {
		font-size: 12px;
	}
}

@media screen and (max-width: 1050px) {
	body {
		font-size: 10px;
	}

	.main_city_temperature {
		font-size: 50px;
	}
}

@media screen and (max-width: 768px) {
	body {
		padding-left: 0;
		padding-right: 0;
	}

	.main_city_temperature {
		font-size: 50px;
	}

	.favorite_city_temperature{
		font-size: 20px;
	}

	h3 {
		font-size: 20px;
	}

	.round_button {
		height: 30px;
	    width: 30px;
	}

	main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		grid-template-areas:
			"title update_geo"
			"main_city main_city"
			"weather_image temperature"
			"weather_parametrs weather_parametrs"
			"favorites . "
			"add_city add_city"
			"favorites_cities favorites_cities";
	}

	body {
		font-size: 18px;
	}

	.favorites_cities {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(2, 50%);
		grid-row-gap: .5em;
		grid-column-gap: 1em;
	}


	.favorite_city {
		width: 100%;
	}

	.update_geo_button {
		width: 60px;
		height: 60px;
		padding: 0;
	}

	#update_geo_image{
		width: 50px;
		height: 50px;
		margin: 0 auto;
	}

	.add_city_input {
		width: 100%;
	}

	#update_geo_image {
		display: block;
	}

	#update_geo_text {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	body {
		font-size: 14px;
	}
	.main_city_temperature {
		font-size: 40px;
	}
	.update_geo_button {
		width: 40px;
		height: 40px;
		padding: 0;
	}

	#update_geo_image {
		width: 36px;
		height: 36px;
	}
}

@media screen and (max-width: 425px) {
	.main_city_temperature {
		font-size: 35px;
	}
	body {
		font-size: 10px;
	}
	h2 {
		font-size: 20px;
	}
}
